/*
*   GENERAL STYLES
*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Roboto+Mono&display=swap');

body {
    margin: 0px;
    background-color:black; /* for now */
    width:100vw;
    height:100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    font-family: 'Oxygen Mono', monospace;
}

a {

}

a:hover {

}

p, li, blockquote, dl, a {
    font-family: 'Roboto Mono', monospace;
}
/*
*   NAVIGATION
*/
.nav {
    background-color:white; /* for now */
    position:fixed;
    top:0;
    width:100vw;
    overflow:hidden;
}

.nav_inner {
    padding:10px 3%;
}

.nav_inner_item {

}

.nav_inner_item a {

}

.nav_inner_item a:hover {

}

/*
*   MAIN CONTENT
*/
.container {
    margin:100px 10% 50px 0px;
    background-color:white; /* for now */
    color:black; /* for now */
    max-width:900px;
    border-radius:0px 5px 0px 0px;
    padding:5px 5px 25px 5px;
}

.main_section {
    padding:10px;
    max-width:600px;
    margin:20px auto;
}

.main_section h1 {

}

/*
*   INDIVIDUAL CONTENT SECTIONS
*/
.section {
    padding:10px;
    max-width:600px;
    margin:20px auto;
    border:3px solid black;
    border-right:5px solid black;
    border-bottom:5px solid black;
}

.section_title {
    background-color: black;
    padding: 10px 5px;
    display: block;
    color: white;
    width: 100%;
    margin: 10px 0;
}

.section_inner {
    display:flex;
    flex-wrap:wrap;
}

.section_inner_item {
    max-width:49%;
}

.section_inner_item_full {
    max-width:98%;
}
.section_inner_text {
    
}

.section_inner_img {

}

.section_inner_img img {
    max-width:100%;
}
